html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
}

div{
  object-position: center;
}

.randomizerButton {
  padding: 15px 32px;
  background-color: #3352ff;
  font-size: 16px;
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
